doctype html
html
	head
		title= title
		//link(rel='stylesheet' href='/styles/main.css')
		link(rel='stylesheet' href='/styles/layout1.css')
		link(rel='stylesheet' href='/styles/dev.css')
		block head
	body
		.container
			block content
